#info-details {

  #collapseExample {
    display: none;
  }
  #description {
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    line-height: 1.5;
    color: $grey-two;
    padding: 1% 30%;
  }

  .btn-primary-wwepc {
    color: white;
    font-size: 1.25rem;
    border-color: black;
    border-radius: 1.5rem;
    margin: 0 3rem;
    vertical-align: middle;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
  }

  a {
    &.readmore {
      color: black;
      font-size: 1.125rem;
      border-color: white;
      border-radius: 2.667rem;
      background-color: white;
      margin:1rem 10rem;
      vertical-align: middle;
      padding-right: 2.4rem;
      padding-left: 2.4rem;
      font-family: 'Anton', sans-serif;
      display: block;
      height: 2.5rem;

      &.discount {
        color: #f38c00;
        background-color: #0094be;
        border-color: #0094be ;
        margin:1rem 5rem;
        font-size: 1.35rem;
        position: relative;
        bottom: 25px;
      }
    }
  }

  //#locationmaps {

    .google-maps {
      position: relative;
      padding-bottom: 75%; // This is the aspect ratio
      height: 0;
      overflow: hidden;
    }
    .google-maps iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
    }

  //  iframe {
  //    width: 100% !important;
  //  }
  //}

    .header {
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      margin: 1.6% auto;

      h1 {
        font-family: 'Anton', sans-serif;
        font-size: 48px;
        line-height: 1.08;
        color: $black-pure;
        margin-bottom: 0;
      }
      h3 {

        font-family: 'Roboto', sans-serif;
        font-size: 0.75rem;
        line-height: 1.5;
        color: $black-grey;
        padding: 1% 30%;
      }
    }

    .slider {
      margin: 0 auto;
      .bx-wrapper {
        margin: 0 auto !important;

        .bx-viewport {
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          border: none;
          background: transparent;
          -webkit-transform: translatez(0);
          -moz-transform: translatez(0);
          -ms-transform: translatez(0);
          -o-transform: translatez(0);
          transform: translatez(0);

          li {

            &.smalli,&.small-prev,&.small-next {
              img {
                width: 160px;
                height: 160px;
                margin-top: 16%;
              }
              .title{
                margin-top: 2.188rem;
              }
              .bx-caption{
                margin: 20px 0px;
                padding: 0px 0px;
              }
            }
            &.medium,&.medium-prev,&.medium-next {
              img {
                width: 191px;
                height: 191px;
                margin-top: 10%;
              }

              .title{
                margin-top: 1.875rem;
              }
              .bx-caption{
                margin: 20px 0px;
                padding: 0px 0px;
              }
            }
            &.large {
              img {
                width: 240px;
                height: 240px;
                border: 0.75rem solid $lipstick;
              }
              .title{
                font-size: 2.25rem !important;
                margin-top: 1.25rem;
              }
              .bx-caption{
                margin: -3px 0px;
                padding: 0px 0px;
              }
            }

            .img-circle {
              border-radius: 50%;
              margin: 0 auto;
              margin-bottom: 120px;
            }

            .bx-caption {
              //position: relative;
              .title {
                font-family: 'Anton', sans-serif;
                font-size: 1.25rem;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.2;
                letter-spacing: 0.5px;
                text-align: center;
                color: $black-pure;
                text-transform: capitalize;
              }
              .summary {
                font-family: 'Roboto', sans-serif;
                font-size: 0.75rem;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: normal;
                text-align: center;
                color: $black-grey;
                padding-bottom: 5px;
              }
            }
          }
        }

        .bx-controls-direction a {
          top: 37%;
        }

        .bx-next {
          right: 10px;
          background: url(../../images/icons/btn_arrow_right_large.png) no-repeat;
          background-size: contain;
        }
        .bx-next:hover {
          background: url(../../images/icons/btn_arrow_right_hover.png) no-repeat;
          background-size: contain;
        }

        .bx-prev {
          left: 10px;
          background: url(../../images/icons/btn_arrow_left_large.png) no-repeat;
          background-size: contain;
        }
        .bx-prev:hover {
          background: url(../../images/icons/btn_arrow_left_hover.png) no-repeat;
          background-size: contain;
        }

      }
    }

    .content-slider{
      .content{
        display: none;
        width: 100%;
        margin-top: 2%;
        padding: 0 25rem;

        height:  10.94rem;

        overflow: hidden;

        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: $black-grey;

        .hidden:after {
          display: none;
        }

        p{
          overflow: hidden;
          //height:  10.94rem;
          &.hidden {
            //height: 350px !important;
          }
        }
        .read-more-target{
          display: none;
        }


        p:after {
          content: "";
          height: 220px;
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(237, 237, 237) 100%);
          position: absolute;
          bottom: 0px;
          right: 0px;
          width: 100%;
        }

        .collapse-coaches,
        .readmore-coaches {
          color: #000000;
          font-size: 1rem;
          border-color: #ffffff;
          border-radius: 1.125rem;
          background-color: #ffffff;
          vertical-align: middle;
          padding-right: 2.4rem;
          padding-left: 2.4rem;
          position: absolute;
          bottom: 9%;
          font-family: 'Anton', sans-serif;
          text-transform: capitalize;
          display: block;
          height: 2.5rem;
          left: 50%;
          transform: translate(-50%,0);
          margin: 0;
        }
        .collapse-coaches{
          display: none;
        }
      }
      .active-content{
        display: block;
      }
    }
    //Media Queries for diferents devices
    @media screen and (max-width: $large) {
      #coachesslider {

      }
      .bx-wrapper {
        .bx-viewport {
          li {
            //transform: translate(-30%);
          }
        }
      }

    }
    @media screen and (max-width: $medium) {

    }
    @media screen and (max-width: $small) {

    }

}
